[submodule "src/views/playground/potsuri"]
	path = src/views/playground/potsuri
	url = https://github.com/w-haibara/potsuri
[submodule "src/views/playground/vuewat"]
	path = src/views/playground/vuewat
	url = https://github.com/w-haibara/vuewat
